:root {
    --base-color: rgb(182, 211, 220);
}

@font-face {
    font-family: 'Library';
    src: url('./Library\ 3\ am.otf');
}

@font-face {
    font-family: 'Baskerville';
    src: url('./LibreBaskerville-Regular.ttf');
}

body {
    margin: auto 0;
    display: flex;
    flex-direction: column;
}

.nav-bar {
    background-color: var(--base-color);
    display: grid;
    grid-template-columns: repeat(2, 120px) 1fr 150px;
    padding: 10px;
    padding-left: 35px;
    justify-items: center;
}

.nav-bar > img {
    grid-area: 1/1;
    height: 90px;
    width: 90px;
}

.home-button, 
#add-button {
    cursor: pointer;
    background-color: transparent;
    border: none;
    font-weight: bold;
    font-family: 'Library';
}

.home-button {
    grid-area: 1/2;
    font-size: 35px;
    margin-top: 35px;
}

#add-button {
    grid-area: 1/4;
    height: 50px;
    width: 110px;
    margin-top: 30px;
    font-size: 20px;
}

/* Form */

.form-container {
    padding: 10px;
    display: flex;
    justify-content: center;
}

fieldset {
    height: 250px;
    width: 400px;
    padding: 10px 30px 10px 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

legend {
    font-family: 'Library';
    font-size: 30px;
    font-weight: bold;
    text-align: center;
}

input {
    width: 300px;
}

fieldset > :not(:nth-child(4)) {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5px;
}

fieldset > :nth-child(4) {
    display: grid;
    grid-template-columns: repeat(2, 100px);
    grid-template-rows: repeat(2,1fr); 
    height: 50px;
    align-items: center;
    justify-items: center;
    justify-content: center;
}

fieldset > :nth-child(4) > div {
    grid-column: 1/ span 2;
    text-align: center;
    font-family: 'Baskerville';
    font-size: 14px;
}

.read-wrapper, 
.unread-wrapper {
    font-family: 'Baskerville';
    font-size: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.unread-wrapper {
    grid-area: 2/1;
    margin: 0;
}

.read-wrapper {
    grid-area: 2/2;
    margin: 0;
}

input[type=radio] {
    width: 20px;
    height: 15px;
    margin: 0;
}

#submit-book {
    padding: 15px;
    width: 150px;
    font-family: 'Baskerville';
    font-size: 15px;
    color: whitesmoke;
    background-color: #d50303;
    border: none;
    border-radius: 10px;
    box-shadow: -3px -3px #6e0101 inset;
}

.sub-header {
    height: 490px;
    background-image: url('./imgs//empty-shelf.jpg');
    background-size: cover;
    background-position: center;
    padding-top: 35px;
    padding-bottom: 35px;
    display: flex;
    justify-content: center;
}

.shelf {
    width: 80%;
    border: 2px solid pink;
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: repeat(10, 1fr);
    row-gap: 50px;
    padding: 5px;
}

.book-card {
    background-color: antiquewhite;
    padding: 10px;
    font-family: 'Baskerville';
    letter-spacing: 1px;
    text-align: center;
    border-radius: 10px;
    box-shadow: -5px 0px 15px rgb(142, 122, 97) inset;
    position: relative;
    align-items: center;
}

.book-card > :first-child {
    font-size: 13px;
}

.book-card > :nth-child(2) {
    font-size: 10px;
}

#remove-button {
    position: absolute;
    bottom: 10px;
    right: 45px;
    background-color: rgb(160, 18, 18);
    border-radius: 10px;
    color: whitesmoke;
    border: none;
}

.footer {
    background-color: var(--base-color);
    height: 100px;
}

.home-button:hover,
#add-button:hover {
    text-decoration: underline;
}

#submit-book:hover {
    font-weight: bold;
    font-size: 15px;
    background-color: #b80303;
    box-shadow: -3px -3px #900000 inset;
    text-decoration: underline;
}